// Configuration for the font-face of the theme, defaults to the system font so left as blank
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

@font-face {
	font-family: 'Nunito Sans', sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
	font-style: medium;
	font-weight: normal;
	font-display: swap;
}
